* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header > ul {
  display: flex;
  padding: 0 10px;
}

header > ul > li {
  list-style: none;
  margin-right: 10px;
}

#canvas {
  flex: 1;
}
